@using EntityLayer.Concrete
@model List<Form>

@{
    ViewBag.Title = "MyForm";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<!-- Google Fonts Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Bootstrap -->
<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<!-- Style Css -->
<link href="~/Content/FormPage/style.css?Version=1" rel="stylesheet" />
<!-- JQUERY -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>


<h1>Gelen Formlar</h1>
<div class="date">
    @Html.TextBox("CurrentDate", DateTime.Now.ToString("dd, MMMM, yyyy"), new { @class = "dateInput", disabled = "disabled" })
</div>


<!-- Header Starts -->
<div class="header">
    <div class="header__left">
    </div>

    <div class="header__middle">
        <span class="material-icons">search</span>
        <input type="text" id="search" placeholder="Form Ara" />
        <span class="material-icons">arrow_drop_down</span>
    </div>

    <div class="header__right">
        <span class="material-icons">apps</span>
        <span class="material-icons">notifications</span>
    </div>
</div>
<!-- Header Ends -->
<!-- Main Body Starts -->
<div class="main__body">
    <!-- Sidebar Starts -->
    <div class="sidebarForm">
        <div class="sidebarOption">
            <span class="material-icons">inbox</span>
            <a href="~/UserPanel/MyForm">
                <h3>Gelen Formlar</h3>
            </a>
        </div>

        <div class="sidebarOption">
            <span class="material-icons">star</span>
            <a href="~/UserPanel/MyPassiveForm">
                <h3>Atanan Formlar</h3>
            </a>
        </div>

        <div class="sidebarOption">
            <span class="material-icons">filter_alt</span>
            <a href="~/UserPanel/MySpamForm">
                <h3>Spam</h3>
            </a>
        </div>

    </div>
    <!-- Sidebar Ends -->
    <!-- Email List Starts -->
    <div class="emailList">
        <!-- Settings Starts -->
        <div class="emailList__settings">
            <div class="emailList__settingsLeft">
                <input type="checkbox">
                <span class="material-icons">arrow_drop_down</span>
                <span class="material-icons">redo</span>
                <span class="material-icons">more_vert</span>
            </div>

            <div class="emailList__settingsRight">
                <span class="material-icons">chevron_left</span>
                <span class="material-icons">chevron_right</span>
                <span class="material-icons">keyboard_hide</span>
                <span class="material-icons">settings</span>
            </div>
        </div>
        <!-- Settings Ends -->
        <!-- Email List Row Starts -->
        <div class="emailList__list">
            <!-- Email Row Starts -->
            @foreach (var item in Model)
            {
                <div class="emailRow" style="display:none">
                    <div class="emailRow__options">
                        <input type="checkbox">
                        <span class="material-icons">star_border</span>
                        <span class="material-icons">label_important</span>
                    </div>
                    <h3 class="emailRow__title"><a href="~/UserPanel/GetFormDetails/@item.FormID">@item.AffMail</a></h3>

                    <div class="emailRow__message">
                        <h4>
                            <a href="~/UserPanel/GetFormDetails/@item.FormID">
                                @item.SocialMedia
                            </a>
                            <span class="emailRow__description">@item.Price</span>

                        </h4>
                    </div>

                    <p class="emailRow__time">@(((DateTime)item.FormDate).ToString("dd-MM-yyyy"))</p>
                </div>
            }
            <!-- Email Row Ends -->
        </div>
        <!-- Email List Row Ends -->
    </div>
    <!-- Email List Ends -->
</div>
<!-- Main Body Ends -->

<div class="pagination">
    <!--<li class="page-item previous-page disable"><a class="page-link" href="#">Önceki</a></li>
    <li class="page-item current-page active"><a class="page-link" href="#">1</a></li>
    <li class="page-item dots"><a class="page-link" href="#">...</a></li>
    <li class="page-item current-page"><a class="page-link" href="#">5</a></li>
    <li class="page-item current-page"><a class="page-link" href="#">7</a></li>
    <li class="page-item dots"><a class="page-link" href="#">...</a></li>
    <li class="page-item current-page"><a class="page-link" href="#">10</a></li>
    <li class="page-item next-page"><a class="page-link" href="#">Sonraki</a></li>-->
</div>

<script src="~/Scripts/Pagination/FormPagination.js?Version=2"></script>
<script src="~/Scripts/Search/FormSearch.js"></script>